@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.portfolio-item-wrapper.columns3 .overlay-content h5 {
		font-size: 14px;
	}
	.portfolio-item-wrapper.columns4 .overlay-content h5 {
		font-size: 13px;
		margin-top: 8px;
		margin-bottom: 0;
	}
	.client-grid-inner {
		padding: 15px;
	}
	.clients-grid.columns3 > div {width: 33.19%;}
	.clients-grid.columns4 > div {width: 24.89%;}
	.clients-grid.columns5 > div {width: 19.91%;}
	.clients-grid.columns6 > div {width: 16.59%;}
	.sidebar-inner-content .clients-grid.columns3 > div {width: 33.14%;}
	.sidebar-inner-content .clients-grid.columns4 > div {width: 24.85%;}
	.sidebar-inner-content .clients-grid.columns5 > div {width: 19.88%;}
	.sidebar-inner-content .clients-grid.columns6 > div {width: 16.57%;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.portfolio-item-wrapper.col-xs-3,
	.grid-3 .portfolio-item-wrapper,
	.standard-3 .portfolio-item-wrapper,
	.grid-3 .grid-sizer,
	.standard-3 .grid-sizer,
	.grid-4 .portfolio-item-wrapper,
	.standard-4 .portfolio-item-wrapper,
	.grid-4 .grid-sizer,
	.standard-4 .grid-sizer,
	.grid-6 .portfolio-item-wrapper,
	.standard-6 .portfolio-item-wrapper,
	.grid-6 .grid-sizer,
	.standard-6 .grid-sizer,
	.mt-blog.grid .hentry,
	.mt-blog.grid .grid-sizer {
		width: 49.99%;
	}
	.clients-grid.columns3 > div,
	.clients-grid.columns4 > div,
	.clients-grid.columns5 > div,
	.clients-grid.columns6 > div,
	.sidebar-inner-content .clients-grid.columns3 > div,
	.sidebar-inner-content .clients-grid.columns4 > div,
	.sidebar-inner-content .clients-grid.columns5 > div,
	.sidebar-inner-content .clients-grid.columns6 > div {
		width: 33%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.portfolio-item-wrapper.col-xs-6,
	.portfolio-item-wrapper.col-xs-4,
	.portfolio-item-wrapper.col-xs-3,
	.grid-3 .portfolio-item-wrapper,
	.standard-3 .portfolio-item-wrapper,
	.grid-3 .grid-sizer,
	.standard-3 .grid-sizer,
	.grid-4 .portfolio-item-wrapper,
	.standard-4 .portfolio-item-wrapper,
	.grid-4 .grid-sizer,
	.standard-4 .grid-sizer,
	.grid-6 .portfolio-item-wrapper,
	.standard-6 .portfolio-item-wrapper,
	.grid-6 .grid-sizer,
	.standard-6 .grid-sizer,
	.container .mt-blog.grid .hentry,
	.container .mt-blog.grid .grid-sizer,
	.mt-blog.grid .hentry,
	.mt-blog.grid .grid-sizer {
		width: 49.99%;
	}
	.portfolio-item-wrapper .overlay-content h5 {
		font-size: 14px;
		margin-top: 8px;
	}
	.clients-grid.columns3 > div,
	.clients-grid.columns4 > div,
	.clients-grid.columns5 > div,
	.clients-grid.columns6 > div,	
	.sidebar-inner-content .clients-grid.columns3 > div,
	.sidebar-inner-content .clients-grid.columns4 > div,
	.sidebar-inner-content .clients-grid.columns5 > div,
	.sidebar-inner-content .clients-grid.columns6 > div {
		width: 49.5%;
	}
}

@media only screen and (max-width: 479px) {
	.portfolio-item-wrapper.col-sm-12 {
		max-width: 100%;
	}
	.portfolio-item-wrapper.col-xs-6,
	.portfolio-item-wrapper.col-xs-4,
	.portfolio-item-wrapper.col-xs-3,
	.grid-2 .portfolio-item-wrapper,
	.standard-2 .portfolio-item-wrapper,
	.grid-2 .grid-sizer,
	.standard-2 .grid-sizer,
	.grid-3 .portfolio-item-wrapper,
	.standard-3 .portfolio-item-wrapper,
	.grid-3 .grid-sizer,
	.standard-3 .grid-sizer,
	.grid-4 .portfolio-item-wrapper,
	.standard-4 .portfolio-item-wrapper,
	.grid-4 .grid-sizer,
	.standard-4 .grid-sizer,
	.grid-6 .portfolio-item-wrapper,
	.standard-6 .portfolio-item-wrapper,
	.grid-6 .grid-sizer,
	.standard-6 .grid-sizer,
	.mt-blog.grid .hentry,
	.mt-blog.grid .grid-sizer,
	.container .mt-blog.grid .hentry,
	.container .mt-blog.grid .grid-sizer,
	.sidebar-inner-content .mt-blog.grid .hentry,
	.sidebar-inner-content .mt-blog.grid .grid-sizer {
		width: 100%;
	}
	.portfolio-item-wrapper .overlay-content h5 {
		font-size: 14px;
	}
	.clients-grid.columns3 > div,
	.clients-grid.columns4 > div,
	.clients-grid.columns5 > div,
	.clients-grid.columns6 > div,
	.sidebar-inner-content .clients-grid.columns3 > div,
	.sidebar-inner-content .clients-grid.columns4 > div,
	.sidebar-inner-content .clients-grid.columns5 > div,
	.sidebar-inner-content .clients-grid.columns6 > div {
		width: 100%;
	}
	/* revoslider caption tweaks */
	.medium_dark_white {
		font-size: 9px !important;
		line-height: 12px !important;
	}
	.tp-caption a.btn {
		font-size: 6px !important;
		padding: 5px 3px !important;
	}
}

@media only screen and (max-width: 991px) {
	.fixed-header .header-wrapper {
		position: static;
		width: 100%;
	}
	.header {
		height: auto !important;
		text-align: center;
	}
	.header .logo {
		position: static;
		margin: 30px auto 20px;
		display: inline-block;
	}
	.header-top > .container {
		width: 100%;
		padding: 0;
	}
	.header-info,
	.header-info span {
		border-right: none;
		border-left: none;
	}
	.footer-socials .socials {
		text-align: center;
	}
	.footer-socials .socials ul {
		display: inline-block;
		float: none;
		margin: 0 auto -6px;
	}
	.header-info {
		position: static;
		float: none;
	}
	.header-info span,
	.top-navigation-wrapper {
		display: block;
		border-top: 1px solid rgba(0,0,0,0.06);
		min-height: 40px;
		height: auto;
	}
	.top-navigation-wrapper {
		display: block;
		width: 100%;
		float: left;		
	}
	.navigation-wrapper {
		margin: 0 auto;
		padding: 0;
	}
	.navigation-wrapper .sf-menu {
		display: none !important;
	}
	.navigation-wrapper {
		margin-bottom: 20px;
	}
	.mt-mobile-nav-trigger {
		display: inline-block;
		margin: 0 auto 10px;
	}
	.fixed-header .content-wrapper {
		padding-top: 0 !important;
	}
	.page-title > .row,
	.portfolio-area.row,
	.contact-map .row,
	.page-top-slider.row,
	.meta > .row {
		margin: 0;
	}
	.sidebar.col-md-3 {
		margin-bottom: 0;
	}
	.content .sidebar-inner-content {
		float: none;
		border-right: 0;
		border-left: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.widget_nav_menu ul {
		width: 100%;
		margin-left: 0;
	}
	.portfolio-item-wrapper.col-md-12 {
		width: 100%;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		margin-bottom: 30px;
	}
	.footer-bottom > div {
		margin-bottom: 10px;
	}
	.footer-bottom .copyright {
		text-align: center;
	}
	.page-template-template-blank-php .content-wrapper {
		margin-top: 20px;
	}
	.mt_gallery_col_5 li,
	.mt_gallery_col_6 li,
	.mt_gallery_col_7 li {width: 25%;}
	.mt_gallery_col_8 li,
	.mt_gallery_col_9 li,
	.mt_gallery_col_10 li {width: 20%;}
}

@media only screen and (max-width: 767px) {
	.header .logo {
		display: block;
		text-align: center;
	}
	.header .socials {
		float: none;
		display: block;
		text-align: center;
		margin: 0 auto 10px;
	}
	.header .socials ul {
		display: inline-block;
		float: none;
	}
	.content-wrapper,
	.full-width-content,
	.footer-wrapper {
		width: 100%;
	}
	.full-width-content,
	.mt-breadcrumbs {
		margin-left: 0;
	}
	.page-title > .row,
	.portfolio-area.row,
	.contact-map .row,
	.page-top-slider.row,
	.meta > .row {
		margin: 0;
	}
	.mt-section .container.no-padding,
	.template-sections .portfolio-filters.grid,
	.single-post #comments,
	.single .blog-wrapper article,
	.latest-posts .post-date {
		padding-left: 15px;
		padding-right: 15px;
	}
	.portfolio-navigation {
		margin-top: 15px;
		text-align: center;
	}
	.portfolio-prev,
	.portfolio-next {
		position: static;
		width: 40px;
		display: inline-block;
	}
	.portfolio-filters li,
	.portfolio-filters li a {
		display: block;
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.page-sidebar-double .portfolio-filters a {
		margin: 0;
	}
	.latest-posts .posts-date,
	.latest-posts .posts-comments,
	.latest-posts .post-date span,
	.latest-posts .post-comments span {
		float: left;
	}
	.latest-posts .post-comments span {
		padding-right: 0;
	}
	.service-wrapper {
		margin-bottom: 20px;
	}
	.service-wrapper.service-icon-box,
	.vc_row.wpb_row .service-wrapper.service-icon-box {
		margin-bottom: 40px;
	}
	.post-item .post-icon {
		padding-left: 0;
	}
	.owl-caption {
		display: none;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		margin-bottom: 30px;
	}
	.wpb_column {
		padding-bottom: 30px;
	}
	.mt_gallery_col_1 li {width: 100%;}
	.mt_gallery_col_2 li {width: 50%;}
	.mt_gallery_col_3 li {width: 33.33%;}
	.mt_gallery_col_4 li,
	.mt_gallery_col_5 li,
	.mt_gallery_col_6 li,
	.mt_gallery_col_7 li,
	.mt_gallery_col_8 li,
	.mt_gallery_col_9 li,
	.mt_gallery_col_10 li {width: 25%;}
}